encryption = "age"

[add]
    secrets = "error"

[edit]
    apply = true

[age]
    identity = "~/.ag"
    recipient = "age1e483p4v8ksjgh8qtnq2cdhxwrmwsjltxy2pjh86w4x576csy9els7kaju7"

[git]
    autoCommit = true
    autoPush = true

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]
