{{ if eq .chezmoi.os "linux" }}
#!/bin/sh
{{ else if eq .chezmoi.os "darwin" }}
#!/bin/sh
brew bundle --file=/dev/stdin <<EOF
tap "chase/tap"
tap "felixkratz/formulae"
tap "gcenx/wine"
tap "gromgit/fuse"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "ikebastuz/wiper"
tap "jonof/kenutils"
tap "jstkdng/programs"
tap "krtirtho/apps"
tap "martinfekete10/tap"
tap "nikitabobko/tap"
tap "osx-cross/arm"
tap "osx-cross/avr"
tap "qmk/qmk"
tap "thezoraiz/ascii-image-converter"
tap "vladdoster/formulae"
tap "zegervdv/zathura"
brew "advancecomp"
brew "libpng"
brew "harfbuzz"
brew "age"
brew "numpy"
brew "webp"
brew "pillow"
brew "aider"
brew "jpeg-xl"
brew "aom"
brew "snappy"
brew "aria2"
brew "atuin"
brew "bash"
brew "bat"
brew "bchunk"
brew "binwalk"
brew "black"
brew "btop"
brew "cargo-nextest"
brew "ccls"
brew "chezmoi"
brew "flac"
brew "gnutls"
brew "tesseract"
brew "ffmpeg"
brew "clipboard"
brew "cmake"
brew "cuetools"
brew "dash"
brew "diffoscope"
brew "difftastic"
brew "docutils"
brew "eza"
brew "f3"
brew "fd"
brew "ffmpegthumbnailer"
brew "figlet"
brew "fish"
brew "flyctl"
brew "fzf"
brew "gdu"
brew "gh"
brew "gifsicle"
brew "git-delta"
brew "glow"
brew "gnu-tar"
brew "handbrake", link: false
brew "harlequin"
brew "pkgconf"
brew "helix"
brew "hexyl"
brew "hfsutils"
brew "httpie"
brew "iamb"
brew "imagemagick"
brew "ipython"
brew "irssi"
brew "jbig2enc"
brew "openjdk"
brew "jdtls"
brew "jpdfbookmarks"
brew "jpegoptim"
brew "jq"
brew "just"
brew "kanata"
brew "lazygit"
brew "llama.cpp"
brew "lsd"
brew "lua-language-server"
brew "luarocks"
brew "media-info"
brew "meson"
brew "monolith"
brew "mozjpeg"
brew "mpd", restart_service: :changed
brew "mpdscribble", restart_service: :changed
brew "mprocs"
brew "yt-dlp"
brew "mpv"
brew "mupdf"
brew "musikcube"
brew "navi"
brew "ncmpcpp"
brew "ncspot"
brew "neomutt"
brew "neovim", args: ["HEAD"]
brew "neovim-remote"
brew "newsboat"
brew "nushell"
brew "optipng"
brew "opus-tools"
brew "poppler"
brew "pdfgrep"
brew "php"
brew "pipx"
brew "procs"
brew "pypy"
brew "pypy3.10"
brew "python-lsp-server"
brew "python@3.10"
brew "python@3.11"
brew "pytorch", link: false
brew "qpdf"
brew "qsv"
brew "qt@5", link: true
brew "rclone"
brew "rename"
brew "rich-cli"
brew "ripgrep"
brew "rom-tools"
brew "sevenzip"
brew "shellcheck"
brew "shntool"
brew "smartmontools"
brew "spicetify-cli"
brew "stow"
brew "svgo"
brew "syncthing", restart_service: :changed
brew "tealdeer"
brew "tmux"
brew "wakeonlan"
brew "watchexec"
brew "websocat"
brew "wget"
brew "winetricks"
brew "wireguard-tools"
brew "xclip"
brew "xcode-build-server"
brew "xdelta"
brew "xh"
brew "xsel"
brew "xxhash"
brew "yazi"
brew "zellij"
brew "zoxide"
brew "felixkratz/formulae/sketchybar"
brew "gromgit/fuse/sshfs-mac"
brew "ikebastuz/wiper/wiper"
brew "qmk/qmk/qmk"
brew "thezoraiz/ascii-image-converter/ascii-image-converter"
brew "zegervdv/zathura/girara", args: ["HEAD"]
brew "zegervdv/zathura/zathura", args: ["HEAD"]
cask "aerospace"
cask "alfred"
cask "android-platform-tools"
cask "anki"
cask "appcleaner"
cask "bartender"
cask "betterdiscord-installer"
cask "betterdisplay"
cask "bettertouchtool"
cask "calibre"
cask "camo-studio"
cask "coconutbattery"
cask "discord"
cask "dolphin"
cask "firefox"
cask "font-aporetic"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "font-iosevka-term-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "foobar2000"
cask "ghidra"
cask "ghostty"
cask "google-chrome"
cask "gstreamer-runtime"
cask "handbrake"
cask "horos"
cask "iina"
cask "imhex"
cask "intellij-idea"
cask "jdownloader"
cask "karabiner-elements"
cask "keyboardcleantool"
cask "kitty"
cask "lastfm"
cask "linearmouse"
cask "lm-studio"
cask "localsend"
cask "lulu"
cask "melonds"
cask "microsoft-teams"
cask "miniforge"
cask "mounty"
cask "musescore"
cask "obs"
cask "obsidian"
cask "openmtp"
cask "orbstack"
cask "parsec"
cask "plex-htpc"
cask "plex-media-server"
cask "postman"
cask "prowlarr"
cask "qmk-toolbox"
cask "radarr"
cask "raspberry-pi-imager"
cask "retroarch-metal"
cask "reverso"
cask "rustrover"
cask "spotify"
cask "steam"
cask "tor-browser"
cask "tuxguitar"
cask "visual-studio-code"
cask "whisky"
cask "wine-crossover"
cask "xld"
cask "zed"
EOF
{{ else if -eq .chezmoi.os "windows" }}
winget install -e --id Obsidian.Obsidian
winget install -e --id AppWork.JDownloader
winget install -e --id PeterPawlowski.foobar2000
winget install -e --id Mozilla.Firefox
winget install -e --id Valve.Steam
winget install -e --id Anki.Anki
winget install -e --id=SUSE.openSUSE.Tumbleweed
winget install -e --id Microsoft.VisualStudioCode
winget install -e --id wez.wezterm
winget install --id=ShareX.ShareX -e
winget install Microsoft.VisualStudio.2022.Community --silent --override "--wait --quiet --add ProductLang En-us --add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended"
winget install -e --id Rustlang.Rustup
{{ end }}
# Cargo stuff
